NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://username:your_password@localhost:5433/dbname?schema=public"

DOCKER_POSTGRES_USER=choose_a_user
DOCKER_POSTGRES_PASSWORD=choose_a_password
DOCKER_POSTGRES_DB=choose_a_db_name

RESEND_API_KEY=
RESEND_FROM_EMAIL=

TERMII_API_KEY=
TERMII_BASE_URL=
TERMII_SENDER_ID=

JWT_SECRET=
JWT_EXPIRES_IN=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=

PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL='https://api.paystack.co'
